button {
  white-space: nowrap;
}

p {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

#__layout > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


section.content, section.content-header {
  margin-top: 0
}

.card-footer.note-float::after {
  display: none;
}

.spinner-load {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000033;
}

.spinner-load img{
  width: 36px;
}

.avatar {
  object-fit: cover;
}


/*animation*/

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}


.tabs-enter-active, .tabs-leave-active {
  transition: opacity .15s;
}

.tabs-enter, .tabs-leave-to{
  opacity: 0;
}

/*end animation*/

.form-group.error > div.form-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.form-group.error .custom-file-label {
  border-color: #dc3545;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(9.95em + 0.375rem) calc(0.75em + 0.375rem);
}

.btn-with-loader {
  max-width: 100px;
  width: 100%;
  height: 38px;
}

.btn-with-loader img {
  margin: 0 auto;
}

.form-group.error input {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  transition: none;
}

.content-wrapper .tab-content {
  overflow: auto;
  flex: auto;
  padding: 0 0.5rem;
}

.content-wrapper.iframe-mode {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100px;

}
/*#__layout .tab-content:first-child:not(:only-child) {*/
/*  display: none;*/
/*}*/

#__layout .tab-content:not(:last-child) {
  display: none;
}

textarea.form-control.textarea-resize {
  resize: none;
  height: 100px;
}

/*modal*/

.custom-model .modal-content .modal-body {
  overflow: auto;
  max-height: 621px;
  height: 100%;
}

form.form-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #343a40;
  opacity: 1; /* Firefox */
}

form.form-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #343a40;
}

form.form-search input::-ms-input-placeholder { /* Microsoft Edge */
  color: #343a40;
}

.ql-editor {
  min-height: 400px;
}

.ql-container{
  min-height: inherit;
}

textarea {
  resize: none;
}

.form-group.img {
  padding: 8px 24px;
  border: 1px dashed #ced4da;
  height: 300px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.form-group.img.img-set {
  cursor: default;
}

.form-group.img:hover {
  border-color: #c88a46;
}

.form-group.img.img-set:hover {
  border-color: #ced4da;
}

.form-group i {
  font-size: 50px;
  display: block;
}

.form-group.img .upload-overlay:after {
  content: '';
  background: #000;
  opacity: 0;
  transition: all .3s ease;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.form-group.img:hover .upload-overlay:after {
  opacity: 0.1;
}

.form-group.img img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;

}

.content-wrapper section {
  margin: 0;
}

.form-group label.label-tags {
  position: relative;
}

.form-group label p {
  position: absolute;
  top: -3px;
  right: -14px;
  font-size: 12px;
  color: #999999;
}


.form-group .tags {
  margin-top: 15px;
}

